body{
    background-color:#eff9ff;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
/* -------------------------------- NAV BAR ------------------------------------*/

.navbar-nav {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  
  .navbar {
    background-color: #f0cec3;
  }
  
  .navbar-nav li {
    padding-right: 50px;
  }
  
  .navbar-brand {
    padding-left: 30px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  
  .nav-item {
    padding-right: 1rem;
  }
  
  .btn {
    background-color: #d63838;
    border-color: #d63838;
    border-radius: 40px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: white;
    color: #d63838;
    border-color: #d63838;
    box-shadow: none;
  }
  
  .btn-primary:active {
    background-color: white !important;
    color: #d63838 !important;
    border-color: #d63838 !important;
    box-shadow: none !important;
  }
  
  .brand {
    font-size: 20px;
  }
  
  /* -------------------------------- NAV BAR ------------------------------------*/
form{
    width:500px;
    border:2px solid #ccc;
    padding:30px;
    background:#fff;
    border-radius:15px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
}
input{
    display:block;
    border:2px solid #ccc;
    width:95%;
    padding:10px;
    margin:10px auto;
    border-radius:5px;
}
label{
    color:#888;
    font-size:18px;
    padding:10px;
}
button{
    float:right;
    background: #555;
    padding:10px 15px;
    color:#fff;
    border-radius: 5px;
    margin-right:10px;
    border:none;
}
button:hover{
    opacity:.7;
}
.error{
    background:red;
    color:black;
    padding:10px;
    width:95%;
    border-radius:5px;
    margin:20px auto;
}