*{
    padding:0;
    margin:0;
}
body{
    background-color:#eff9ff;
}
.navbar-nav {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  
  .navbar {
    background-color: #f8d9ce;
  }
  
  .navbar-nav li {
    padding-right: 50px;
  }
  
  .navbar-brand {
    padding-left: 30px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
  }
  
  .nav-item {
    padding-right: 1rem;
  }
  
  .btn {
    background-color: #d63838;
    border-color: #d63838;
    border-radius: 40px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: white;
    color: #d63838;
    border-color: #d63838;
    box-shadow: none;
  }
  
  .btn-primary:active {
    background-color: white !important;
    color: #d63838 !important;
    border-color: #d63838 !important;
    box-shadow: none !important;
  }
  
  .btn-primary:focus {
    background-color: #d63838;
    border-color: #d63838;
    box-shadow: none;
  }
  
  .brand {
    font-size: 20px;
  }
  