body{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #eff9ff;
}
#welcome{
    border-radius: 8px;
    width: 10px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}