body{
    margin: 0;
    padding: 0;
    position: relative; 
    background-color: white;
}
#front p{
    color:black;
    text-shadow: 2px 2px aqua;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    left:50%; 
}
#front h1{
    color:black;
    text-shadow: 2px 2px aqua;
    text-align: center;
    font-size: 48px;
    top:500px;
   
}
#front{
    margin: 0;
    width: auto;
    height: 500px;
    background: url(image/front.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#body1{
    text-align: center;
}
