body{
    margin: 0;
    padding: 0;
    position: relative; 
    background-color: white;
}
/* -------------------------------- NAV BAR ------------------------------------*/

.navbar-brand{
    font-size: 3rem;
  }
  
  .navbar-nav{
    font-size: 1.5rem;
  }
  
  .nav-item{
    padding-right: 1rem;
  }
  
  
  
  /* -------------------------------- NAV BAR ------------------------------------*/
  
#front p{
    color:black;
    text-shadow: 2px 2px aqua;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    left:50%; 
}
#front h1{
    color:black;
    text-shadow: 2px 2px aqua;
    text-align: center;
    font-size: 48px;
    top:500px;
   
}
#front{
    margin: 0;
    width: auto;
    height: 500px;
    background: url(image/front.jpg) no-repeat center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#body1{
    text-align: center;
}
